/* Side bar */
body .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #2f2f2f;
    position: fixed;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;

    font-family: "Segoe UI Semibold", sans-serif;
    font-weight: normal;
}

/* Логотип и подпись */
body .sidebar header {
    padding: 2em 0.5em;
    text-align: center;
}

/* Картинка логотипа */
body .sidebar header img {
    width: 200px;
    overflow: hidden;

    transition: 0.3s;
}

body .sidebar header img:hover {
    transform: scale(1.2);
}

/* Подпись к логотипу */
body .sidebar header h1 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;

    font-family: "Segoe UI Semibold", sans-serif;
    font-weight: normal;
    color: white;
}
body .sidebar header p {
    margin-top: 3px;

    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    color: white;
}

/* Элемент меню (стрелка + текст) */
body .sidebar .menu-items-container li div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
body .sidebar .menu-items-container li img {
    padding-right: 3px;
    padding-top: 3px;
    display: inline-block;
}

/* Элемент меню */
body .sidebar .menu-items-container li a {
    display: block;
    color: white;
    padding: 8px 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    transition: 0.3s;
}

/* Активный элемент меню */
body .sidebar .menu-items-container li a.active {
    background-color: #ffad00;
    color: black;
}

/* Элемент меню при наведении */
body .sidebar .menu-items-container li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Надпись "Разделы" */
body .sidebar .menu-items-container h3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;

    font-family: "Segoe UI Semibold", sans-serif;
    font-weight: normal;
    color: #a8a8a8;
}

body .sidebar .menu-items-container hr {
    color: #595959;
}

body .sidebar footer {
    padding: 20px;

    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    color: #a8a8a8;
}

body .sidebar footer img {
    width: 100%;
    overflow: hidden;
}


/* Side bar */
body .topbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
    overflow: auto;
    overflow-x: hidden;
    opacity: 0;
    height: 0;

    font-family: "Segoe UI Semibold", sans-serif;
    font-weight: normal;
}

/* Логотип и подпись */
body .topbar header {
    padding: 2em 0.5em;
    text-align: center;
}

/* Картинка логотипа */
body .topbar header img {
    width: 200px;
    overflow: hidden;

    transition: 0.3s;
}

body .topbar header img:hover {
    transform: scale(1.2);
}

/* Подпись к логотипу */
body .topbar header h1 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;

    font-family: "Segoe UI Semibold", sans-serif;
    font-weight: normal;
    color: white;
}
body .topbar header p {
    margin-top: 3px;

    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    color: white;
}

/* Элемент меню (стрелка + текст) */
body .topbar .menu-items-container li div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
body .topbar .menu-items-container li img {
    padding-right: 3px;
    padding-top: 3px;
    display: inline-block;
}

/* Элемент меню */
body .topbar .menu-items-container li a {
    display: block;
    color: white;
    padding: 8px 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    transition: 0.3s;
}

/* Активный элемент меню */
body .topbar .menu-items-container li a.active {
    background-color: #ffad00;
    color: black;
}

/* Элемент меню при наведении */
body .topbar .menu-items-container li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Надпись "Разделы" */
body .topbar .menu-items-container h3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;

    font-family: "Segoe UI Semibold", sans-serif;
    font-weight: normal;
    color: #a8a8a8;
}

body .topbar .menu-items-container hr {
    color: #595959;
}

body .topbar footer {
    padding: 20px;

    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    color: #a8a8a8;
}

body .topbar footer img {
    width: 100%;
    overflow: hidden;
}

body .vertical-container {
    margin-left:20%;
}

@media only screen and (max-width: 600px) {
    body .sidebar {
        opacity: 0;
        width: 0;
    }

    body .topbar {
        opacity: 100%;
        width: 100%;
        height: 100%;
    }

    body .vertical-container {
        margin-left: 0;
    }

    body {
        gap: 0;
        margin: 0;
        padding: 0;
    }


}